#title{
  position:absolute;
  border:double 3px green;
  top:95px;
  left:8px;
}
#content{
  width:300px;
  border:dashed 3px green;
  top:100px;
  left:8px;
}
#a{
  position:absolute;
  border:solid 3px orange;
  top:100px;
  left:500px;
}
#icon{
  width:300px;
}